.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
  }

.contactSection {
    width: 45%;
    display: flex;
    justify-content: flex-start;
}

.topHeaderNavMenu {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.singUpSignInContainer {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

.navMenuItem {
  margin-inline: 10px;
  transition: transform 0.3s ease;
}

.navMenuItem:hover , 
.mainNavMenuItem:hover {
  transform: translateY(-2.5px);
  transition: transform 0.3s ease;
}

.signInBtn {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  background: transparent;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signInBtn:hover {
  color: #25575E;
  background: #FFF;
  transition: all 0.3s ease;
}

.signUpBtn {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
  background: #FFF;
  color: #25575E;
  border: 2px solid #FFF;
  border-radius: 3px;
  cursor: pointer;
}

.signUpBtn:hover {
  color: #FFF;
  background: #25575E;
  transition: all 0.3s ease;
}

.openMobileMenuIcon {
  font-size: 24px;
  width: 35px;
  height: 35px;
  display: none;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.mainHeader {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 50px;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 0 25px;
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.175);
}

.headerLogo {
  width: 10%;
  display: flex;
  justify-content: flex-start;
}

.mainHeaderNavMenu {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.mainNavMenuItem {
  transition: all 0.3s ease;
}

.cartAndSearchContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.mobileNavMenuContainer {
  height: 100vh;
  width: 375px;
  position: fixed;
  top: 0;
  left: 0;
  background: #25575E;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.15);
  transform: translateX(-100%);
  visibility: hidden;
  transition: all ease 0.5s;
}

.mobileNavMenuContainer.active {
  transform: translateX(0);
  visibility: visible;
  transition: all ease 0.5s;
}

.mobileNavMenuLogo {
  display: flex;
  justify-content: center;
  padding: 25px;
} 

.mobileNavMenuLogo img {
  width: 75px;
}

.mobileNavMenu {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.mobileNavMenu a {
  font-size: 18px;
  padding: 20px;
  color: #FFF;
}

.mobileNavMenu a:not(:last-child) {
  border-bottom: 2px dashed #FFF;
  border-width: 90% !important;
}

.mobileMenuCloseBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

@media only screen and (max-width: 940px) {
  .topHeaderNavMenu {
    display: none;
  }

  .contactSection {
    width: 70%;
  }

  .singUpSignInContainer {
    width: 30%;
  }

  .openMobileMenuIcon {
    display: flex;
    cursor: pointer;
  }

  .mainHeaderNavMenu {
    display: none;
  }

  .cartAndSearchContainer {
    width: 90%;
  }
}